<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Default title{% endblock %}</title>
        <link rel="icon" href="{{ asset("favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>
    </head>
    <body>
        <div class="retroheader">
            <h1><a href="{{ url("app_pokemon") }}">POKEDEX</a></h1>
        </div>

        <div class="navbar">
            <li><a href="{{ url("home") }}" class="retro-font">BACK</a></li>
            <li><a href="{{ path("pokedex") }}" class="retro-font">POKEDEX</a></li>
            <li><a href="{{ path("catch") }}" class="retro-font">CATCH</a></li>
            {# <li><a href="{{ path("debug") }}">Debug</a></li> #}
            {# <li><a href="{{ path("card") }}">Card</a></li> #}
            {# <li><a href="{{ path("game") }}">Game</a></li> #}
            {# <li><a href="{{ path("app_pokemon") }}">Pokedex</a></li> #}
            {# url och path fungerar likadant här tack vare att vi agivit "name" i vår controller #}
        </div>

        <div class="pokemon-content">
            {% block content %}
                Default content
            {% endblock %}
        </div>

        <footer class="sitefooter"><p class="retro-font">MADE BY ERIK NÄSTESJÖ TODD SPRING 2022</p></footer>
    </body>
</html>
