{% extends 'pokemon/base-pok.html.twig' %}

{% block title %}
Pokedex | Pokedex
{% endblock %}

{% block content %}

<h1 class="retro-font">Din pokedex</h1>

<table class="table retro-font">
	<tr>
		<th>NAME</th>
		<th>TYPE</th>
		<th>ATTACK</th>
		<th>HP</th>
		<th>ID</th>

	</tr>
    {% for pokemon in allPokemon %}
        <tr onclick="window.location='{{path("pokedex-single", {id: pokemon.id})}}'">
            <td>{{ pokemon.name }}</td>
            <td>{{ pokemon.type }}</td>
            <td>{{ pokemon.attack }}</td>
            <td>{{ pokemon.hp }}</td>
            <td>#{{ pokemon.id }}</td>
        </tr>
    {% endfor %}
</table>


{% endblock %}

