{% extends "garden/base.html.twig" %}
{% block title %}
	The Garden | Customer
{% endblock %}

{% block content %}

    <div class="arrow">
        <a href="{{ path("garden-about") }}"><img src="../../img/arrowLeft.png" alt="flower 1" width="50" class="cursor-pointer"></a>
        <p>ABOUT</p>
    </div>

    <div>
        <h2 class="customer-h2">Customer says:</h2>
        <p class="customer-p">{{message}}</p>

        {% if (newIncome) %}

            <p> You earned ${{newIncome}}!</p>

            <form class="garden-enter">
            <input type="submit" value="Next customer">
            </form>

        {% endif %}

        <br>
        <br>
        <br>
        <br>

        <div class="economic-container">
        <p class="economic">Plants sold: {{numberSold}} st</p>
        <p class="economic">Total income: ${{totalIncome}}</p>
        </div>
    </div>

    <div class="arrow">
        <a href="{{ path("garden") }}"><img src="../../img/arrowRight.png" alt="flower 1" width="50" class="cursor-pointer"></a>
        <p>GARDEN</p>
    </div>

{% endblock %}

