{% extends "garden/base.html.twig" %}
{% block title %}
	Edit Users
{% endblock %}


{% block content %}
	<div class="history-container">

		<h1>Users</h1>



        {% if (isAdmin) %}
            <h2>Add new user:</h2>
            <div class="flex-row">
            <form action="{{ path("register-process") }}" method="post">
                <label for="fname">First name:</label>
                <input type="text" size="12" id="fname" name="fname" placeholder="At least two letters">
                <label for="lname">Last name:</label>
                <input type="text" size="12" id="lname" name="lname" placeholder="At least two letters">
                <label for="password">Password:</label>
                <input type="password" size="12" id="password" name="password" placeholder="Secret password">
                <input type="submit" value="Add user">
            </form>
            </div>
        {% else %}
            <p>You have to be logged in as an administrator!</p>
        {% endif %}



        <table class="table">
        <h2>Edit existing user:</h2>
            <tr>
                <th>Acronym</th>
                <th>Status</th>

            </tr>
            <tr>
                {% for entry in tableUsers %}
                    <tr>
                        <td>{{entry.acronym}}</td>
                        <td>{{entry.status}}</td>
                        <td>
                        <form action="{{ path("status-process") }}" method="post">
                            <input type="hidden" id="userId" name="userId" value={{entry.id}}><br>
                            <input type="submit" value="Change status">
                        </form>
                        </td>
                        <td>
                        <form action="{{path("garden-edit-profile-admin", {userId: entry.id})}}" method="get">
                            <input type="hidden" id="acronym" name="acronym"><br>
                            <input type="submit" value="Edit profile info">
                        </form>
                        </td>
                        <td>
                        <form action="{{ path("login-process") }}" method="post">
                            <input type="hidden" id="acronym" name="acronym"><br>
                            <input type="submit" value="Delete user">
                        </form>
                        </td>
                    </tr>
                {% endfor %}
            </tr>

        </table>


	</div>


{% endblock %}

