{% extends "garden/base.html.twig" %}
{% block title %}
	The Garden
{% endblock %}

{% block content %}

    <h2>Flowers</h2>

    {# <form action="" method="post" name="ground1" class="groundForm">
        <input type="hidden" name="index", value="ground1">
        <input type="hidden" name="name" value="testPlant">
        <input type="hidden" name="price" value=10>
        <input type="image" src="../../img/Flower1.png" alt="flower 1" width="60" height="60">
    </form>

    <form action="" method="post" name="ground2" class="groundForm">
        <input type="hidden" name="index", value="ground2">
        <input type="hidden" name="name" value="testPlant">
        <input type="hidden" name="price" value=10>
        <input type="image" src="../../img/Flower1.png" alt="flower 1" width="60" height="60">
    </form>

    <form action="" method="post" name="ground3" class="groundForm">
        <input type="hidden" name="index" value="ground3">
        <input type="hidden" name="name" value="testPlant">
        <input type="hidden" name="price" value=10>
        <input type="image" src="../../img/Flower1.png" alt="flower 1" width="60" height="60">
    </form> #}



    {% for i in 1..garden|length %}
        <form action="" method="post" name="ground{{i}}" class="groundForm">
            <input type="hidden" name="index" value="ground{{i}}">
            <input type="hidden" name="name" value="testPlant">
            <input type="hidden" name="price" value="10">
            <input type="image" src="../../img/Flower1.png" alt="flower 1" width="60" height="60">
        </form>
    {% endfor %}


    {# {% for flower in garden %}
        {% if flower is same as null %}


            <p>jordhögsbild</p>


        {% else %}


            <p>{{flower.getName()}}</p>


        {% endif %}
    {% endfor %} #}




    <h2>Seed bag</h2>
    {% for seed in seedBox %}
        <form class="seed">
            <input type="hidden" id="name" name="name" , value={{seed.getName()}}>
            <input type="hidden" id="price" name="price" , value={{seed.getPrice()}}>
            <p>{{seed.getName()}}</p>
        </form>
    {% endfor %}

    <h2>Water can</h2>
    <div class="tools">
        <img src="../../img/IconWaterCan.png" class="img-icon" id="water-tool" alt="water tool">
    </div>

    <script src="{{ asset("js/garden.js") }}"></script>

{% endblock %}

