{% extends "garden/base.html.twig" %}
{% block title %}
	The Garden
{% endblock %}

{% block content %}

    <div class="garden-container">

    <div>
        <h2>Tools</h2>
        <div class="tools">
            <img src="../../img/IconWaterCan.png" class="img-icon" id="water-tool" alt="water tool">
        </div>
    </div>

    <div class="plants-container">
        {% for i in 1..garden|length %}
            <form action="" method="post" name="ground{{i}}" class="ground-form">
                <input type="hidden" name="index" value="ground{{i}}">
                <input type="hidden" name="name" value="testPlant">
                <input type="hidden" name="price" value="10">
                <input type="image" src="../../img/empty.png" alt="flower 1" width="150">
            </form>
        {% endfor %}
    </div>

    <div class="seed-bag">
        <h2>Seed bag</h2>
        <div class="seed-grid">
            {% for seed in seedBox %}
                <form class="seed">
                    <input type="hidden" id="name" name="name" , value={{seed.getName()}}>
                    <input type="hidden" id="price" name="price" , value={{seed.getPrice()}}>
                    <p>{{seed.getName()}}</p>
                </form>
            {% endfor %}
        </div>
    </div>

    </div>

    <script src="{{ asset("js/garden.js") }}"></script>

{% endblock %}

