{% extends "garden/base.html.twig" %}
{% block title %} The Garden | History {% endblock %}

{% block content %}

<div class="arrow">
	<a href="{{ path("garden-about") }}"><img src="{{asset("img/arrowLeft.png")}}" alt="path to about page" width="50" class="cursor-pointer"></a>
	<p>ABOUT</p>
</div>

<div class="history-container">

	<h1>History</h1>

	<div class="table-container">

	<div>
	<table class="table">
	<p class="p-header">Planted seeds</p>
		<tr>
			<th>Seed</th>
			<th>Date</th>
			<th>Time</th>

		</tr>
		<tr>
		{% for entry in tablePlantedSeeds %}
			<tr>
				<td>{{entry.plant}}</td>
				<td>{{entry.date}}</td>
				<td>{{entry.time}}</td>
			</tr>
		{% endfor %}
		</tr>

	</table>
	</div>

	<div>
	<table class="table">
	<p class="p-header">Plants sold</p>
		<tr>
			<th>Plant</th>
			<th>Price</th>
			<th>Date</th>
			<th>Time</th>

		</tr>
		<tr>
		{% for entry in tableSales %}
			<tr>
				<td>{{entry.plant}}</td>
				<td>${{entry.price}}</td>
				<td>{{entry.date}}</td>
				<td>{{entry.time}}</td>
			</tr>
		{% endfor %}
		</tr>

	</table>
	</div>

	<div class="lastTable">
	<table class="table">
	<p class="p-header">Plants sold life cycle</p>
		<tr>
			<th>Id</th>
			<th>Plant</th>
			<th>Planted Date</th>
			<th>Planted Time</th>
			<th>Sold Date</th>
			<th>Sold Time</th>

		</tr>
		<tr>
		{% for entry in tableJoined %}
			<tr>
				<td>{{entry.id}}</td>
				<td>{{entry.plant}}</td>
				<td>{{entry.datePlanted}}</td>
				<td>{{entry.timePlanted}}</td>
				<td>{{entry.dateSold}}</td>
				<td>{{entry.timeSold}}</td>
			</tr>
		{% endfor %}
		</tr>

	</table>
	</div>

	</div>

</div>


<div class="arrow">
	<a href="{{ path("garden-customer") }}"><img src="{{asset("img/arrowRight.png")}}" alt="path to customer page" width="50" class="cursor-pointer"></a>
	<p>CUSTOMER</p>
</div>


{% endblock %}

