{% extends "garden/base.html.twig" %}
{% block title %} The Garden {% endblock %}

{% block content %}

	<div>

    <h1>Welcome {{fName}} {{lName}}</h1>

    <form action="{{ path("garden") }}" method="get">
        <input type="submit" value="Tend to your garden">
    </form>


    <p>Here you can make things grow! </p>

    <article class="instructions">
		<h2>Instructions</h2>
		<p>
		First click on one of the seeds.
		Then click an empty site to plant it in.
		Next click on the water tool.
		Finally click on the plant to make it grow.
		</p>
	</article>

	</div>

	<div class="login-container">
		{% if (userId) %}

		<div class="margin-bottom">
		<h2>Logged in as <span class="acronym">{{acronym}}</span></h2>

		{% if (imgURL) %}
			<a href="{{imgURL}}" class="logo-container"><img src="{{imgURL}}" class="img-logo" alt="profile image"></a>
		{% endif %}

			<h2>About you:</h2>
		{% if(description) %}
			<p>{{description}}</p>
		{% else %}
			<p>Du har inte lagt till någon beskrivning om dig ännu :(</p>
		{% endif %}

		<form action="{{ path("garden-edit-profile") }}" method="get">
			<input type="submit" value="Edit profile">
		</form>

		</div>

		{% if (status == "admin") %}

		<form action="{{ path("garden-edit-users") }}" method="get" class="margin-bottom">
			<input type="submit" value="Edit users">
		</form>

		{% endif %}

		<h2>Log out</h2>
		<form action="{{ path("logout-process") }}" method="post">
			<input type="submit" value="Log out">
		</form>

		{% else %}

		<h2>Log in</h2>
		<form action="{{ path("login-process") }}" method="post" class="margin-bottom">
			<label for="acronym">Acronym:</label><br>
			<input type="text" id="acronym" name="acronym" placeholder='E.g. "erna"'><br><br>
			<label for="password">Password:</label><br>
			<input type="password" id="password" name="password" placeholder="*****"><br><br>

			<input type="submit" value="Log in">
		</form>

		<h2>Register</h2>
		<form action="{{ path("register-process") }}" method="post">
			<label for="fname">First name:</label><br>
			<input type="text" id="fname" name="fname" placeholder="At least two letters"><br><br>
			<label for="lname">Last name:</label><br>
			<input type="text" id="lname" name="lname" placeholder="At least two letters"><br><br>
			<label for="password">Password:</label><br>
			<input type="password" id="password" name="password" placeholder="Secret password"><br><br>

			<input type="submit" value="Register">
		</form>

		{% endif %}
	</div>



{% endblock %}

