{% extends "garden/base.html.twig" %}
{% block title %} The Garden | Statistics {% endblock %}

{% block content %}

<div class="arrow">
	<a href="{{ path("garden") }}"><img src="../../img/arrowLeft.png" alt="flower 1" width="50" class="cursor-pointer"></a>
	<p>GARDEN</p>
</div>

<div class="statistics-container">

	<h1>History</h1>

	<p class="p-header">Planted seeds</p>

	<table class="table">
		<tr>
			<th>Seed</th>
			<th>Datum</th>
			<th>Tid</th>

		</tr>
		<tr>
		{% for entry in tablePlantedSeeds %}
			<tr>
				<td>{{entry.plant}}</td>
				<td>{{entry.date}}</td>
				<td>{{entry.time}}</td>
			</tr>
		{% endfor %}
		</tr>

	</table>

	<p class="p-header">Plants sold</p>

	<table class="table">
		<tr>
			<th>Plant</th>
			<th>Price</th>
			<th>Datum</th>
			<th>Tid</th>

		</tr>
		<tr>
		{% for entry in tableSales %}
			<tr>
				<td>{{entry.plant}}</td>
				<td>${{entry.price}}</td>
				<td>{{entry.date}}</td>
				<td>{{entry.time}}</td>
			</tr>
		{% endfor %}
		</tr>

	</table>

</div>


<div class="arrow">
	<a href="{{ path("garden-customer") }}"><img src="../../img/arrowRight.png" alt="flower 1" width="50" class="cursor-pointer"></a>
	<p>CUSTOMER</p>
</div>


{% endblock %}

