<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Default title{% endblock %}</title>
        <link rel="icon" href="{{ asset("favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>
    </head>
    <body>
        <div class="siteheader">
            <h1><a href="{{ url("home") }}">Redovisningssida</a></h1>
        </div>

        <div class="navbar">
            <li><a href="{{ url("home") }}">Home</a></li>
            <li><a href="{{ path("report") }}">Report</a></li>
            <li><a href="{{ path("about") }}">About</a></li>
            <li><a href="{{ path("debug") }}">Debug</a></li>
            <li><a href="{{ path("card") }}">Card</a></li>
            <li><a href="{{ path("game") }}">Game</a></li>
            <li><a href="{{ path("app_pokemon") }}" class="retro-font">POKEDEX</a></li>
            <li><a href="{{ path("metrics") }}">Metrics</a></li>
            <li><a href="{{ path("garden-home") }}" class="siteheader-garden">Project</a></li>
            {# url och path fungerar likadant här tack vare att vi agivit "name" i vår controller #}
        </div>

        <div class="side-and-cont">
            <div class="sidebar">
                {% block sidebar %}
                    Default sidebar
                {% endblock %}
            </div>

            <div class="content">
                {% block content %}
                    Default content
                {% endblock %}
            </div>
        </div>

        <footer class="sitefooter"><p>Made by Erik Nästesjö Todd spring 2022</p></footer>
    </body>
</html>
